## <font color=#33A5FF>****EJERCICIO****<tfont>

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

 ## Tema:      
                    ****Datos Diabetes**** 


 ### Archivo: 
`diabetes.csv` 


---

 ### Actividad: (`utilizando practica actual `)

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

In [1]:
import pandas as pd
from qgrid import show_grid
import seaborn as sns
from pandas_profiling import ProfileReport
from funpymodeling.exploratory import freq_tbl, status, profiling_num, cat_vars, num_vars

/tmp/ipykernel_6154/3046100249.py:4: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

### Exportamos el csv

In [2]:
diabetes=pd.read_csv("data/diabetes.csv", sep = ",")

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

<div class="well">
<strong>1.1 - </strong> <strong>Al dataset</strong> <code>diabetes.csv</code> aplicar el <strong>AED</strong> y donde exista variables con nulos se reemplaza por <strong>la mediana de cada variable numérica</strong>.
    



    
</div>

In [3]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
status(diabetes)

                   variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0               Pregnancies      0    0.0      111  0.144531      17    int64
1                   Glucose      0    0.0        5  0.006510     136    int64
2             BloodPressure      0    0.0       35  0.045573      47    int64
3             SkinThickness      0    0.0      227  0.295573      51    int64
4                   Insulin      0    0.0      374  0.486979     186    int64
5                       BMI      0    0.0       11  0.014323     248  float64
6  DiabetesPedigreeFunction      0    0.0        0  0.000000     517  float64
7                       Age      0    0.0        0  0.000000      52    int64
8                   Outcome      0    0.0      500  0.651042       2    int64

In [5]:
new=diabetes.median(axis=0)
diabetes_1=diabetes.fillna(new)

In [6]:
diabetes_1 #lista sin Nan

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

<div class="well">

    

<strong>1.2 - </strong> Luego <strong>Aplicar</strong> todos los pasos de la practica para la <strong>Preparación de Datos</strong>

    


    
</div>

In [7]:
show_grid(diabetes_1)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [8]:
status(diabetes_1)

                   variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0               Pregnancies      0    0.0      111  0.144531      17    int64
1                   Glucose      0    0.0        5  0.006510     136    int64
2             BloodPressure      0    0.0       35  0.045573      47    int64
3             SkinThickness      0    0.0      227  0.295573      51    int64
4                   Insulin      0    0.0      374  0.486979     186    int64
5                       BMI      0    0.0       11  0.014323     248  float64
6  DiabetesPedigreeFunction      0    0.0        0  0.000000     517  float64
7                       Age      0    0.0        0  0.000000      52    int64
8                   Outcome      0    0.0      500  0.651042       2    int64

In [9]:
d_original=diabetes_1.copy()

In [10]:
diabetes_1['Pregnancies_cat']=diabetes_1['Pregnancies'].astype(str)
diabetes_1['Glucose_cat']=diabetes_1['Glucose'].astype(str)
diabetes_1['BloodPressure_cat']=diabetes_1['BloodPressure'].astype(str)
diabetes_1['SkinThickness_cat']=diabetes_1['SkinThickness'].astype(str)
diabetes_1['Insulin_cat']=diabetes_1['Insulin'].astype(str)
diabetes_1['Age_cat']=diabetes_1['Age'].astype(str)
diabetes_1['Outcome_cat']=diabetes_1['Outcome'].astype(str)

In [11]:
status(diabetes_1['Pregnancies_cat'])
status(diabetes_1['Glucose_cat'])
status(diabetes_1['BloodPressure_cat'])
status(diabetes_1['SkinThickness_cat'])
status(diabetes_1['Insulin_cat'])
status(diabetes_1['Age_cat'])
status(diabetes_1['Outcome_cat'])

      variable  q_nan  p_nan  q_zeros  p_zeros  unique    type
0  Outcome_cat      0    0.0        0      0.0       2  object

In [12]:
diabetes_1=diabetes_1.drop('Pregnancies',axis=1)
diabetes_1=diabetes_1.drop('Glucose',axis=1)
diabetes_1=diabetes_1.drop('BloodPressure',axis=1)
diabetes_1=diabetes_1.drop('SkinThickness',axis=1)
diabetes_1=diabetes_1.drop('Insulin',axis=1)
diabetes_1=diabetes_1.drop('Age',axis=1)
diabetes_1=diabetes_1.drop('Outcome',axis=1)

In [13]:
status(diabetes_1)

                   variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0                       BMI      0    0.0       11  0.014323     248  float64
1  DiabetesPedigreeFunction      0    0.0        0  0.000000     517  float64
2           Pregnancies_cat      0    0.0        0  0.000000      17   object
3               Glucose_cat      0    0.0        0  0.000000     136   object
4         BloodPressure_cat      0    0.0        0  0.000000      47   object
5         SkinThickness_cat      0    0.0        0  0.000000      51   object
6               Insulin_cat      0    0.0        0  0.000000     186   object
7                   Age_cat      0    0.0        0  0.000000      52   object
8               Outcome_cat      0    0.0        0  0.000000       2   object

### No tenemos Nan

In [14]:
data_final=pd.get_dummies(diabetes_1,drop_first=True)

In [15]:
data_final

,BMI,DiabetesPedigreeFunction,Pregnancies_cat_1,Pregnancies_cat_10,Pregnancies_cat_11,Pregnancies_cat_12,Pregnancies_cat_13,Pregnancies_cat_14,Pregnancies_cat_15,Pregnancies_cat_17,...,Age_cat_64,Age_cat_65,Age_cat_66,Age_cat_67,Age_cat_68,Age_cat_69,Age_cat_70,Age_cat_72,Age_cat_81,Outcome_cat_1
0,33.6,0.627,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,26.6,0.351,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23.3,0.672,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,28.1,0.167,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,43.1,2.288,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,32.9,0.171,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
764,36.8,0.340,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
765,26.2,0.245,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
766,30.1,0.349,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
767,30.4,0.315,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
status(data_final)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,BMI,0,0.0,11,0.014323,248,float64
1,DiabetesPedigreeFunction,0,0.0,0,0.000000,517,float64
2,Pregnancies_cat_1,0,0.0,633,0.824219,2,uint8
3,Pregnancies_cat_10,0,0.0,744,0.968750,2,uint8
4,Pregnancies_cat_11,0,0.0,757,0.985677,2,uint8
...,...,...,...,...,...,...,...
481,Age_cat_69,0,0.0,766,0.997396,2,uint8
482,Age_cat_70,0,0.0,767,0.998698,2,uint8
483,Age_cat_72,0,0.0,767,0.998698,2,uint8
484,Age_cat_81,0,0.0,767,0.998698,2,uint8
485,Outcome_cat_1,0,0.0,500,0.651042,2,uint8

![linea 2](https://user-images.githubusercontent.com/19308295/115926262-2fb62980-a448-11eb-8189-c2f10e499944.png)

<div class="well">


    
<strong>1.3 - </strong> <strong>Crear un nuevo archivo</strong> <code>csv</code> con el resultado final listo para aplicar un modelo de Machine Learnig.

    
</div>

In [17]:
import pickle
with open ('data/diabetes_A','wb')as f:
    pickle.dump(data_final,f)

In [18]:
data_final.to_csv('data/diabetes_final.csv')